/* GLOBAL STYLES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size:62.5%;
    font-family:"Kumbh Sans", sans-serif;
    --main-text-color: hsl(229, 23%, 23%);
    --subheading-text-color: hsl(227, 10%, 46%);
    --line-background-color:hsl(0, 0%, 59%);
    --background-color: hsl(185, 75%, 39%);
}

/* BODY STYLES */
body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color:var(--background-color);
    background-image:url("./assets/images/bg-pattern-top.svg") , url("./assets/images/bg-pattern-bottom.svg");
    background-position: top 300% left -30%, right -20% bottom 300%;
    background-repeat:no-repeat, no-repeat ;
    background-size: 90rem,90rem;
}
