/* GLOBAL STYLES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size:62.5%;
    font-family:"Kumbh Sans", sans-serif;
    --main-text-color: hsl(229, 23%, 23%);
    --subheading-text-color: hsl(227, 10%, 46%);
    --line-background-color:hsl(0, 0%, 59%);
    --background-color: hsl(185, 75%, 39%);
}

/* BODY STYLES */
body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color:var(--background-color);
    background-image:url("./assets/images/bg-pattern-top.svg") , url("./assets/images/bg-pattern-bottom.svg");
    background-position: top 300% left -30%, right -20% bottom 300%;
    background-repeat:no-repeat, no-repeat ;
    background-size: 90rem,90rem;
}

/* CARD STYLES */
.container {
    width:350px;
    border-radius:2rem;
    background-color:white;
}

.image-container {
    background-color:var(--background-color);
    position:relative;
    background-image:url("assets/images/bg-pattern-card.svg");
    border-radius:2rem 2rem 0 0;
    height: 10rem;
}
.main-image {
    width:7rem;
    height:7rem;
    border-radius:50%;
    outline:3px solid white;
    position:absolute;
    top:65%;
    left:50%;
    transform:translateX(-50%);
}

.title {
    padding:5rem 0;
    text-align:center;
}

.age {
    color:var(--subheading-text-color);
    font-weight:300;
}
.title h1 {
    color:var(--main-text-color);
    font-size:2.5rem;
}
.title p {
    margin-top:1rem;
    color:var(--subheading-text-color);
    font-size:1.8rem;
}

/* VIEWS STYLES */
.views {
    padding-top:1rem;
    padding-bottom:1rem;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.view-item {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:1rem;
}

.view-item .stats {
    font-weight: 700;
    font-size:2rem;
    color:var(--main-text-color);
}

.view-item .desc {
    color:var(--subheading-text-color);
    font-size:1.4rem;
}

/* MEDIA QUERY */
@media only screen and (max-width: 375px) {
    .container {
        width:80%;

    }

    html {
        font-size:45%;
    }
}