/* GLOBAL STYLES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size:62.5%;
    font-family:"Kumbh Sans", sans-serif;
    --main-text-color: hsl(229, 23%, 23%);
    --subheading-text-color: hsl(227, 10%, 46%);
    --line-background-color:hsl(0, 0%, 59%);
    --background-color: hsl(185, 75%, 39%);
}

/* BODY STYLES */
body {
    display:flex;
    /* position:relative; */
    /* flex-direction:column; */
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow:hidden;
    background-color:var(--background-color);
    background-image:url("./assets/images/bg-pattern-top.svg") , url("./assets/images/bg-pattern-bottom.svg");
    background-position: top -400px left -200px, right -150px bottom -500px;
    background-repeat:no-repeat, no-repeat ;
    background-size: 63%,63%;
}

/* BACKGROUND IMAGES STYLES */

/* CARD STYLES */
.container {
    width:350px;
    border-radius:2rem;
    background-color:white;
    position:relative;
    z-index:3;
    /* box-shadow:8px 16px 32px 8px rgba(0,0,0,0.2); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.image-container {
    background-color:var(--background-color);
    position:relative;
    background-image:url("assets/images/bg-pattern-card.svg");
    border-radius:2rem 2rem 0 0;
    height: 15rem;
}
.main-image {
    width:10rem;
    height:10rem;
    border-radius:50%;
    outline:4px solid white;
    position:absolute;
    top:65%;
    left:50%;
    transform:translateX(-50%);
}

.title {
    padding-top:6rem;
    padding-bottom:2.5rem;
    text-align:center;
}

.age {
    color:var(--subheading-text-color);
    font-weight:300;
}
.title h1 {
    color:var(--main-text-color);
    font-size:2.5rem;
}
.title p {
    margin-top:1rem;
    color:var(--subheading-text-color);
    font-size:1.8rem;
}

/* VIEWS STYLES */
.views {
    padding-top:1rem;
    padding-bottom:1rem;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.view-item {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:1rem;
}

.view-item .stats {
    font-weight: 700;
    font-size:2rem;
    color:var(--main-text-color);
}

.view-item .desc {
    color:var(--subheading-text-color);
    font-size:1.4rem;
}

/* MEDIA QUERY */
@media only screen and (max-width: 375px) {

    html {
        font-size:45%;
    }

    .container {
        width:80%;
    }

    .views {
        padding-left:2rem;
        padding-right:2rem;
    }
}